* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*::selection {
    background-color: var(--color-neutral-50);
    color: var(--color-neutral-40);
}

:root {
    --color-neutral-0: #0e0c0c;
	--color-neutral-10: #171717;
	--color-neutral-30: #e7e5e3;
	--color-neutral-40: #f5f5f5;
	--color-neutral-50: #008025;
	--bg-footer: #F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-neutral-30);
}

.header {
    background-color: var(--color-neutral-40);
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 3rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.301);
}

.img_logo_header {
    width: 130px;
}

.header, .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navigation_header {
    gap: 1rem;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-neutral-50);
    transition: 1s;
    font-weight: bolder;
    white-space: nowrap;
}

.navigation_header a:hover {
    text-decoration: underline;
    color: var(--color-neutral-50);
    transition: .8s;
    font-weight: bolder;
    white-space: nowrap;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-neutral-50);
    cursor: pointer;
    display: none;
}

/* .active {
    background-color: var(--color-neutral-30);
    padding: 10px;
    border-radius: 10px;
} */

main h1 {
    display: flex;
    justify-content: center;
    color: #008025;
    padding-bottom: 1.5rem;
    font-size: 3.5rem;
    font-family: 'Satisfy', cursive; 
    font-family: 'Young Serif', serif; 
    font-family: 'Caveat', cursive;
    font-family: 'Courgette', cursive; 
    font-family: 'Dancing Script', cursive; 
    font-family: 'Great Vibes', cursive; 
    font-family: 'Libre Baskerville', serif; 
    font-family: 'Lobster', cursive;
    font-family: 'Sacramento', cursive;
}

main {
    transition: 1s;
    width: 500px;
    display: flex;
    margin: auto;
    padding: 2rem;
    flex-direction: column;
    background-color: var(--color-neutral-40);
    border-radius: 8px;
    box-shadow: 0 1px 3px 0px rgba(29, 28, 28, 0.322);
}

main p {
    padding: 1rem;
}

span {
    font-weight: bolder;
    color: var(--color-neutral-10);
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
        padding: 7px;
    }

    .btn_icon_header:hover {
        display: block;
        background-color: var(--color-neutral-30);
        padding: 7px;
        border-radius: 7px;
    }

    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--bg-footer);
        height: 50%;
        width: 35vw;
        padding: 1rem;
        animation-duration: 1s;
        margin-left: -100vw;
        border-radius: 7px;
    }

    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        } top {
            margin-left: -10vw;
        }
    }

    main {
        width: 350px;
    }
}